# Postgres
POSTGRES_DB_NAME=lastletter
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_ECHO=true
POSTGRES_POOL_MIN_SIZE=5
POSTGRES_POOL_MAX_SIZE=50

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30
