# App
HOST_NAME=localhost
PORT=8000
BASE_URL="http://localhost:8000"

# Postgres
POSTGRES_DB_NAME=lastletter
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_ECHO=true
POSTGRES_POOL_MIN_SIZE=5
POSTGRES_POOL_MAX_SIZE=50

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
VERIFICATION_TOKEN_EXPIRES_DAYS=1
ALGORITHM=RS256

# MailDev
MAIL_SERVER=maildev
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=False
MAIL_FROM=lastletter_admin@lastletter.com
FRONTEND_URL=http://localhost:8000

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_PORT=5672
